name: Lint and Test

on:
  push:
    branches-ignore: ['main']

jobs:
  static-checks-npm:
    uses: digicatapult/shared-workflows/.github/workflows/static-checks-npm.yml@main
    with:
      matrix_commands: '["lint", "depcheck"]'

  tests-npm:
    uses: digicatapult/shared-workflows/.github/workflows/tests-npm.yml@main
    with:
      coverage: false
      docker_compose_file: ''
      tests: '["test"]'

  build-docker:
    needs:
      - static-checks-npm
      - tests-npm
    uses: digicatapult/shared-workflows/.github/workflows/build-docker.yml@main
    permissions:
      packages: write
      contents: write
      security-events: write
      actions: read

  generate-sbom-npm:
    needs:
      - build-docker
    uses: digicatapult/shared-workflows/.github/workflows/generate-sbom-npm.yml@main
    permissions:
      contents: read
    with:
      additional_args: "--ignore-npm-errors"
